<!DOCTYPE html>
<html>
  <head>
    <title>Dropbox</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= action_cable_meta_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>    
  </head>
  <body>
    <%= yield %>
    <script>
    
    function openConnection() {
        return new WebSocket("<%= Rails.application.credentials.cable_url { "ws://localhost:3000" } %>/cable");
    }
    document.addEventListener("DOMContentLoaded", () => {
        const chatWebSocket = openConnection()
        chatWebSocket.binaryType = "arraybuffer";
        chatWebSocket.onopen = (even) => {
            const subscribeMsg = {"command": "subscribe", "identifier": "{\"channel\":\"NotifyChannel\", \"uuid\":\"abcd\"}"}
            chatWebSocket.send(JSON.stringify(subscribeMsg))
        }
        chatWebSocket.onmessage = (event) => {
          var server_data = JSON.parse(event.data)
          if (typeof server_data.message === 'object') {
            console.log(server_data.message.image)
            console.log(server_data.message.diterima)
          }         
        }
    })        
    </script>
  </body>
</html>